.App {
  padding-left: 1em;
  font-size: 15px;
  text-align: left;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.error-msg {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  min-width: 1500px;
  
}

th:nth-child(1),
td:nth-child(1) {
  width: 45%;
  text-align: left;
}

th:nth-child(5),
td:nth-child(5) {
  width: 45%;
  text-align: left;
}

th:nth-child(6),
td:nth-child(6) {
  width: 45%;
  text-align: left;
}

th:not(:nth-child(1)):not(:nth-child(5)):not(:nth-child(6)),
td:not(:nth-child(1)):not(:nth-child(5)):not(:nth-child(6)) {
  width: 45%;
  text-align: left;
}
