body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.course-form {
  color: aliceblue;
  background: linear-gradient(to left, #003DA5, #425563);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 75px auto;
}

.course-form label {
  color: aliceblue;
  font-size: 16px;
  margin-bottom: 5px;
}

.course-form input {
  margin: 10px auto;
  width: 350px;
}

.course-form select {
  margin: 10px auto;
  width: 350px;
}


.course-form input[type="submit"] {
  background-color: #ffffff;
  color: #003DA5;
  padding: 7px;
  border: none;
  border-radius: 3px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.course-form input[type="submit"]:hover {
  background-color: #f2f2f2;
}

