.details-card {
  color: #666666;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 500px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.details-courses {
  color: #666666;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  max-width: 500px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: top;
}

div.details-card span {
  font-weight: bold;
}

.balance,
.links {
  color: #003da5;
}

.details-title {
  margin-top: 0;
  font-size: 25px;
}

.details-link {
  display: inline-block;
  background-color: #00968f;
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 10px;
}

.details-list {
  color: #00968f;
  font-weight: bold;
}

.drop-btn {
  background: #697f8f;
  color: #ffffff;
  padding: 2px;
  border: none;
  border-radius: 3px;
  width: 20px;
  font-size: 10px;
  cursor: pointer;
  margin-bottom: auto;
  margin-left: 10px;
}

.details-select {
  width: 75%;
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.errors {
  font-weight: bold;
  color: red;
}
