.navbar {
  background: linear-gradient(to right, #003DA5, #425563);
  padding: 10px;
  display: flex;
  justify-content:left;
  align-items: left;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  margin-left: 50px;
}

.navbar a:hover {
  color: #FCE300;
}

.logout-btn {
  background: linear-gradient(to right, #003DA5, #425563);
  color: #ffffff;
  padding: 5px;
  border: none;
  border-radius: 3px;
  width: 10%;
  font-size: 16px;
  cursor: pointer;
  margin-bottom:auto;
  margin-left:auto;
}

.logout-btn:hover {
  font-weight: bold;
  background: linear-gradient(to right, #003DA5, #FCE300);
}