.navbar {
  background: linear-gradient(to right, #003da5, #425563);
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar a {
  color: aliceblue;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-right: 50px;
  margin-left: 50px;
}

.navbar a:hover {
  color: #fce300;
}

.logout-btn {
  background: linear-gradient(to right, #003da5, #425563);
  color: aliceblue;
  border: none;
  border-radius: 3px;
  width: 7%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  align-items: center;
}

.logout-btn:hover {
  /* font-weight: bold; */
  background: linear-gradient(to right, #003da5, #fce300);
}
